<!DOCTYPE html>
<html lang="it" dir="ltr">

<head>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- My Style -->
    <link rel="stylesheet" href="css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>

    <div id="root">
        <!-- Header app -->
        <div class="header_app"></div>

        <!-- Main app -->
        <div class="main_app">

            <!-- Content app -->
            <div class="content_app">
                <!-- Left_content_app -->
                <div class="left_content_app flex">
                    <!-- User div -->
                    <div class="user flex">
                        <!-- Left inside -->
                        <div class="left_inside flex">
                            <img :src="avatar" alt="avatar">
                            <p><small>{{username}}</small></p>
                        </div>
                        <!-- /Left inside -->

                        <!-- Right inside -->
                        <div class="right_inside flex">
                            <ul class="flex">
                                <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                                <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                            </ul>
                        </div>
                        <!-- /Right inside -->

                    </div>
                    <!-- /User div -->

                    <!-- Notifications -->
                    <div class="notifications flex">
                        <div class="notifications_icon">
                            <a href="#"> <i class="fas fa-bell-slash"></i></a>
                        </div>
                        <div class="notifications_links">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p><small><a href="#"> Attiva notifiche desktop</a></small></p>
                        </div>
                     
                    </div>
                    <!-- /Notifications -->

                    <!-- Search bar -->

                        <div class="search_bar flex">
                            <a href="#"> <i class="fas fa-search"></i></a>
                            <input type="text" maxlength="30" placeholder="Cerca o inizia una nuova chat" id="">
                        </div>
                    <!-- /Search bar -->

                    <!-- Chat list -->
                    <div class="chat_list">
                        <ul>
                            <li v-for="contact in contacts" :class="{'active_chat': contact.active}" :key="contact.id"> <a href="#" class="flex" @click="setCurrentChat(contact.id)">  <img :src=`img/avatar${contact.avatar}.jpg` > <small> {{contact.name}}</small></a> </li>
                        </ul>
                    </div>
                    <!-- /Chat list -->


                   

                </div>
                <!-- /Left_content_app -->

                <!-- Right_content_app -->
                <div class="right_content_app">
                    <!-- Chat div -->

                    <!-- Top Chat -->
                    <div class="top_chat_displayed flex">
                        <!-- Left inside -->
                        <div class="left_inside flex">
                            <img :src=`img/avatar${currentChat.avatar}.jpg`>
                            <p><small>{{currentChat.name}}</small></p>
                        </div>
                        <!-- /Left inside -->

                        <!-- Right inside -->
                        <div class="right_inside flex">
                            <ul class="flex">
                                <li><a href="#"><i class="fas fa-search"></i></a></li>
                                <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                                <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                            </ul>
                        </div>
                        <!-- /Right inside -->

                    </div>
                    <!-- /Top Chat -->

                    <div class="conversation">
                        <div class="row flex" v-for="(msg, index) in currentChat.messages" :key="index" :class="{'flex_end' : msg.status == 'sent', 'flex_start' : msg.status == 'received'}">
                            <div class="left_row message flex" v-show="msg.status == 'received'" :class="{'message_received' : msg.status == 'received'}">
                                  <p class="text_message flex">{{msg.message}}</p>
                                  <p class="row date flex">{{msg.date}}</p>
                            </div>
                            <div class="right_row message flex" v-show="msg.status == 'sent'" :class="{'message_sent' : msg.status == 'sent'}">
                                <p class="text_message flex">{{msg.message}}</p>
                                <p class="row date flex">{{msg.date}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Bottom chat -->
                    <div class="bottom_chat_displayed flex">
                        <ul class="flex">
                            <li><a href="#"> <i class="far fa-smile"></i></a></li>
                            <li class="flex"><input placeholder="Scrivi un messaggio" type="text" name="" v-model="textMessage" @keyup.enter="checkInputText(textMessage)"></li>
                            <li><a href="#"><i class="fas fa-microphone"></i></a></li>
                        </ul>
                    </div>
                    <!-- /Bottom chat -->


                    <!-- /Chat div -->
                </div>
                <!-- Right_content_app -->

            </div>
            <!-- /Content app -->
        </div>
        <!-- /Main app -->

    </div>
      <!-- Dayjs -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" charset="utf-8"></script>
    <!-- Contacts -->
    <script src="js/contacts.js"></script>

    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- My Script -->
    <script src="js/script.js" charset="utf-8"></script>

</body>

</html>